DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": "income_expensesdb",
        "USER": "postgres",
        "PASSWORD": "durojaye26",
        "HOST": "127.0.0.1",
        "PORT": "5432",
    }
}